#contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contactform {
  width: 800px;
  height: 800px;
  background-color: #0002;
  border-radius: 2%;
}

#leaveAMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  color: #fff;
}

#formContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}
form {
  flex-direction: column;
  align-items: center;
  display: flex;
}

#message {
  resize: none;
  width: 400px;
  height: 200px;
  background-color: #0004;
  border-style: none;
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 20px;
  color: #fff;
}
#message::placeholder {
  color: #aaa;
}
#message:focus {
  outline: none;
  caret-color: #fff;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.fieldText {
  font-size: 25px;
  font-weight: 100;
  color: #fff;
}

.inputField {
  width: 400px;
  height: 50px;
  background-color: #0004;
  border-style: none;
  border-radius: 10px;
  padding-left: 20px;
  color: #fff;
}
.inputField:focus {
  outline: none;
  caret-color: #fff;
}
.inputField::placeholder {
  color: #aaa;
}

#submit {
  width: 200px;
  align-self: center;
  height: 70px;
  border-radius: 25px;
  border-style: solid;
  font-size: 2em;
  font-weight: 100;
  color: #fff;
  border-color: #fff;
  border-width: 4px;
  transition: 0.3s;
  background-color: transparent;
}
#buttonContainer:hover #submit {
  border-color: rgb(137, 26, 102);
  cursor: pointer;
  color: rgb(137, 26, 102);
  width: 250px;
  height: 80px;
}

#buttonContainer:hover i::before {
  left: 0%;
  width: 10%;
  transform: skewX(70deg);
}
#buttonContainer:hover i::after {
  right: 0%;
  width: 10%;
  transform: skewX(70deg);
}

#buttonContainer {
  position: relative;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#buttonContainer i::before {
  content: "";
  background-color: #100b33;
  position: absolute;
  width: 5%;
  height: 4px;
  top: 0;
  left: 80%;
  z-index: 100;
  transform: skewX(-30deg);
  transition: 0.4s;
}
#buttonContainer i::after {
  content: "";
  background-color: #100b33;
  position: absolute;
  width: 5%;
  height: 4px;
  bottom: 0;
  right: 80%;
  z-index: 100;
  transform: skewX(-30deg);
  transition: 0.4s;
}
#buttonContainer:hover {
  cursor: pointer;
}

.inputError {
  color: rgb(160, 32, 32);
  max-width: 400px;
  margin-left: 10px;
  font-style: italic;
  font-weight: 300;
}
