#landingContainer {
  display: flex;
  padding: 50px;
  justify-content: space-evenly;
}

#homeLeftContent {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  z-index: 10;
}
#homeLeftContent .leftContentTitle {
  color: #fff;
  font-weight: 700;
  z-index: 10;
  font-size: 50px;
}
.leftContentBody {
  color: #fff;
  z-index: 10;
  font-weight: 500;
  font-size: 35px;
}

#imageContainer {
  justify-content: center;
  z-index: 10;
  align-items: center;
  display: flex;
}
#image {
  z-index: 10;
  width: 70%;
  align-self: center;
}

#button {
  border-radius: 4px;
  z-index: 10;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  align-self: flex-end;
}

#button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  z-index: 10;
  transition: 0.5s;
}

#button span:after {
  content: "\00bb";
  position: absolute;
  z-index: 10;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#button:hover span {
  padding-right: 25px;
}

#button:hover span:after {
  opacity: 1;
  right: 0;
}
